[package]
name = "trunk-registry"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4.3.1"
rust-s3 = "0.32.3"
anyhow = "1.0.69"
