.SearchBar {
    flex: 1;
    min-width: 50%;
    width: auto;
    margin-bottom: var(--space-5);
  
    input {
      width: 100%;
      height: 2.75rem;
      padding: var(--space-2);
      font-size: var(--size-m);
      border: 1px solid var(--primary-4);
      border-radius: var(--unit);
  
      &:focus {
        outline: solid 1px var(--accent);
      }
    }
  }
  
  .filters {
    height: 2.75rem;
    margin: 0 var(--space-5);
    padding: var(--space-2);
    background-color: var(--primary-1);
    border: 1px solid var(--primary-4);
    border-radius: var(--unit);
  
    > svg {
      margin: 0 var(--unit);
    }
  }