.LeftNavigation {
  display: flex;
  flex-direction: column;
  min-width: 212px;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--primary-8);
  padding: 0 1rem;

  button {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.leftNavTitle {
  margin: var(--space-3) 0;
  color: var(--primary-2);
  font-weight: var(--normal-w);
  font-size: var(--size-m);
}

.logoSection {
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: var(--space-5) 0;

  // hack bc logo padding
  // will fix when logo src
  margin-left: -8px;
  margin-bottom: var(--space-7);

  h1 {
    color: var(--primary-1);
    font-size: var(--size-l);
  }

  img {
    width: 48px;
    height: 48px;
    margin-right: var(--space-2);
  }
}

.orgList {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-4);

  a {
    color: var(--primary-4);
    margin-bottom: 0.875rem;
  }
}

.helpSection {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--space-4);

  a {
    color: var(--primary-4);
    margin-bottom: var(--space-4);
  }
}
