{% for stack in stack_extensions %}
CREATE EXTENSION IF NOT EXISTS {{stack.name}} CASCADE;
{% endfor %}

{% for key, value in extensions %}
CREATE EXTENSION IF NOT EXISTS {{key}} CASCADE;
{% endfor %}