.main {
  box-sizing: border-box;
  background: linear-gradient(103.48deg, #d7036a 2.42%, #ff5c00 73.18%, #ff7a00 98.1%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  padding: 0 2vw;
}
