.instanceNav {
  height: calc(100vh - 3.5rem);
  width: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--primary-3);
  padding-top: var(--space-3);
  border-right: 1px solid var(--primary-4);

  .link {
    margin: var(--space-2) 0;
  }
}
