apiVersion: v2
name: tembo-operator
description: "Helm chart to deploy the tembo-operator"
type: application
icon: https://cloud.tembo.io/images/TemboElephant.png
version: 0.6.1
home: https://tembo.io
sources:
  - https://github.com/tembo-io/tembo
  - https://github.com/cloudnative-pg/cloudnative-pg
keywords:
  - postgresql
  - postgres
  - database
maintainers:
  - name: Tembo
    url: https://tembocommunity.slack.com
dependencies:
  - name: cloudnative-pg
    version: 0.20.1
    repository: https://cloudnative-pg.github.io/charts
    condition: cloudnative-pg.enabled
