.hero {
  margin-top: -200px;
}
.title {
  font-weight: 800;
  font-size: 42px;
  color: white;
  text-align: center;
  margin: 50px auto;
}
.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: 50px auto;
}
.body {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  max-width: 750px;
  margin: 50px auto;
  padding: 10px;
}
