name: Update tembo-pg-cnpg in ArgoCD

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:
    inputs:
      manual_trigger:
        description: 'Manually trigger the workflow'
        default: ''

permissions:
  id-token: write
  contents: read

jobs:
  update_argocd_deployment:
    name: Update ArgoCD Deployment
    runs-on: ubuntu-latest
    strategy:
      # fail-fast means to cancel all jobs if one fails
      fail-fast: false
      matrix:
        include:
          - repository: tembo-io/app-deploy-dev
            subdirectory: dev
            branch: main
          # - repository: tembo-io/app-deploy
          #   subdirectory: staging
          #   branch: staging-updates
          # - repository: tembo-io/app-deploy
          #   subdirectory: prod
          #   branch: prod-updates
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Install cURL
        run: sudo apt-get install curl jq -y
      - name: Fetch latest version of tembo-pg-cnpg
        id: get_latest_version
        run: |
          LATEST_VERSION=$(curl -s "https://quay.io/api/v1/repository/coredb/tembo-pg-cnpg/tag/?onlyActiveTags=true" | jq -r '.tags[0].name')
          echo "$LATEST_VERSION" >> $GITHUB_OUTPUT
      - name: ArgoCD Update tembo-pg-cnpg
        uses: ./.github/actions/argocd-update-initcontainer
        with:
          repository: ${{ matrix.repository }}
          ssh_key: ${{ secrets.SERVICE_USER_GITHUB_SSH_KEY }}
          branch: ${{ matrix.branch }}
          version: ${{ needs.update_argocd_deployment.steps.get_latest_version.outputs.latest_version }}
          subdirectory: ${{ matrix.subdirectory }}
