name: Tembo AI Gateway Workflow

permissions:
  pull-requests: write
  deployments: write
  id-token: write
  contents: read

defaults:
  run:
    shell: bash
    working-directory: ./inference-gateway/

on:
  pull_request:
    branches:
      - main
    paths:
    - '.github/workflows/tembo_ai.yaml'
    - 'inference-gateway/**'
  push:
    branches:
      - main
    paths:
    - '.github/workflows/tembo_ai.yaml'
    - 'inference-gateway/**'

jobs:
  tests:
    name: Run tests
    runs-on:
      - self-hosted
      - dind
      - xlarge-16x16
    env:
      DATABASE_URL: "postgresql://postgres:postgres@0.0.0.0:5432/postgres"
    steps:
      - uses: actions/checkout@v4
      - name: Install system dependencies
        run: |
          set -xe
          sudo apt-get update
          sudo apt-get install -y pkg-config libssl-dev
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "cp-test"
      - name: Install Rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: install dependencies
        run: cargo install sqlx-cli --version 0.7.4
      - name: Start Postgres
        run: |
          make run-postgres
          make run-migrations
      - name: Check Format and Migrations
        run: make check
      - name: unit-test
        run: make unit-test
      - name: integration-test
        run: make integration-test
